.container {
    position: relative;
  }

  .titleStyle{
    text-align: center;
    padding: 5px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
  
  .container:hover .overlay {
    visibility: visible;
    opacity: 1;
  }

  .imageStyle{
    max-width: 100%;
    height: 100%;
  }